{% load static %}
<html>  
    <head>
        <title>Размещение объявлений</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="top-menu">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Войти</a>
                <a href="{% url 'signup' %}" class="top-menu">Зарегистрироваться</a>
            {% endif %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Размещение объявлений</a></h1>
            <div id="clock">Loading...</div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}      
                </div>
            </div>
        </div>
        <script>
                let url = 'ws://127.0.0.1:8000/ws'
                const socket = new WebSocket(url)

                socket.onmessage = function(event) {
                    const data = JSON.parse(event.data);
                    const clockElement = document.getElementById('clock');
                    clockElement.innerHTML = 'Время: ' + data.clock;
                    clockElement.style.color = 'white';
                };
        </script>
    </body>
</html>